
    <div class="col-lg-9">
        <header class="article">
            <h1>{{ obj.title }}</h1>
            <span>{{ obj.subtitle }}</span>
            <div class="author">{{ obj.author }}</div>
            {% if gallery %}
                <a href="{% url 'gallery' obj.title %}"><img src="{{ obj.img.url }}" class="img-fluid"></a>
            {% else %}
                <img src="{{ obj.img.url }}" class="img-fluid">
            {% endif %}
        </header>
        <div class="row body-article">
            <aside class="col-lg-3 left-media-block">

            </aside>
            <div class="col-lg-9 text-article">
                {{ obj.text|safe }}
                <!--раздел тренировки-->
                {% if training_list %}
                        {% for training in training_list %}
                            <strong class="training-name">{{ training.name }}</strong>
                            {% if training_part %}
                            <ul>
                            {% for part in training_part %}
                                {% if part.training.name == training.name %}
                                    <li><span class="order">{{ part.order }}.</span>{{ part.exercise }}<br>сетов:{{ part.sets }},
                                        повторений:{{ part.reps }}, отдых:{{ part.rest }}
                                    <a href="{% url 'exercise' exercise=part.exercise %}">подробней</a> </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                <!-- конец раздела тренировки-->
                <!--раздел рецепта-->
                {% if ingredients %}
                        <div id="igredients">
                            <strong>Ингредиенты</strong>
                            {{ ingredients.items|safe }}
                        </div>
                {% endif %}
                {% if cooking_proc %}
                        <div id="cooking-proc">
                            <strong>Процесс приготовления</strong>
                            {{ cooking_proc.describe|safe }}
                        </div>
                {% endif %}
                {% if gallery %}
                    {{ gallery }}
                {% endif %}
                <!--конец раздела рецепта-->
            </div>
        </div>
    </div>
    <aside class="col-lg-3 right-media-block" style="position: -webkit-sticky; position: sticky; top: 0;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3308265973976218"
                 data-ad-slot="6905253155"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
    </aside>
