{% extends "base_generic.html" %}

{% block content %}
    <article class="row" style="padding: 0 5px">
        <div class="col-lg-9">
            <header class="article">
                <h1>{{ obj.title }}</h1>
                <strong>{{ obj.subtitle }}</strong>
                <div class="author">{{ obj.author }}</div>
                <img src="{{ obj.img.url }}">
            </header>
            <div class="row body-article">
                <aside class="col-lg-3 left-media-block">
                    <strong>ТОП</strong>
                    {% for elem in top3_week %}
                        <a class="row all-top-5" href="{% url 'article' section_name=elem.section subsection_name=elem.subsection article_title=elem.title %}">
                            <strong>{{ elem.title }}</strong>
                        </a>
                        <hr>
                    {% endfor %}
                </aside>
                <div class="col-lg-9 text-article">
                    {{ obj.text }}
                </div>
            </div>
        </div>
        <aside class="col-lg-3 right-media-block">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- right side bar -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3308265973976218"
                 data-ad-slot="6905253155"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </aside>
    </article>
{% endblock %}