{% extends "base_generic.html" %}
{% block content %}
    <aside class="col-md-3">ТОП СТАТЕЙ ПО САЙТУ</aside>

    <section class="col-md-6">
        <div style="background-color: red">
            <h2>САМАЯ ЧИТАЕМАЯ ЗА ТРИ  ДНЯ</h2>
        </div>
        <div>
            <div class="col-md-6">
                <h2>ПОСЛЕДНЯЯ ДОБАВЛЕННАЯ</h2>
            </div>
            <div class="col-md-6">
                <h2>СА</h2>
            </div>
        </div>
    </section>

    <aside class="col-md-3"></aside>
    {% for elem in obj %}
        <article>
            <h1>{{ elem.title }}</h1>
            <h4>{{ elem.subtitle }}</h4>
            <img src="{{ elem.img.url }}">
            <p>{{ elem.text }}</p>
            <p>{{ elem.author }},{{ elem.created_date }}</p>
        </article>
    {% endfor %}
{% endblock %}