{% extends "base_generic.html" %}
{% block content %}
    <div class="row">
        <aside class="col-sm-2" style="background-color: #868e96"><h2>ТОП СТАТЕЙ ПО САЙТУ</h2></aside>

    <section class="col-sm-7">
        <div style="background-color: red">
            <h2>САМАЯ ЧИТАЕМАЯ ЗА НЕДЕЛЮ</h2>
        </div>
        <div class="row" style="align-content: center">
            <div class="col-sm-6" style="background-color: yellow">
                <h2>САМАЯ ЧИТАЕМАЯ ЗА ТРИ ДНЯ</h2>
            </div>
            <div class="col-sm-6" style="background-color: blue">
                <h2>САМАЯ ЧИТАЕМАЯ ЗА СЕГОДНЯ</h2>
            </div>
        </div>
    </section>

    <aside class="col-sm-3" style="background-color: #868e96"><h2>РЕКЛАМНЫЙ БЛОК</h2></aside>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% for elem in obj %}
                <a class="row big-ref-article" href="{{ elem.get_url }}">
                    <img class="col-sm-4" src="{{ elem.img.url }}">
                    <div class="col-sm-8">
                        <h2>{{ elem.title }}</h2>
                        <h3>{{ elem.subtitle }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
        <aside class="col-sm-4">

        </aside>
    </div>
{% endblock %}