{% extends "base_generic.html" %}
{% block content %}
    <div id="list">
        <div class="row">
            {% include 'article/list_for_section.html' %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'article/footer.html' %}
{% endblock %}
{% block js %}
    {% if obj.has_next %}
        <script>
        var i = {{ obj.next_page_number }};
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() === $(document).height() && i <= {{ max }}) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        div = document.createElement('div');
                        test = document.getElementById("list");
                        test.appendChild(div);
                        last_div = document.getElementById("list").lastElementChild;
                        last_div.className = "row";
                        last_div.innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", "{% url 'subsection' section_name subsection_name %}?page=" + i, true);
                i+=1;
                xhttp.send();
            }

        });
        </script>
    {% endif %}
{% endblock %}